

.containerBody{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

/* --Inicio Sign in- */

.formContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 15px;
}

.formContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.title{
    font-size:2.1rem;
    color: #444;
    margin-bottom: 10px;
}

.inputField{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.inputField i{
    text-align: center;
    line-height: 55px;
    fill: #acacac;
    font-size: 1.1rem;
}

.inputField input{
    background: none;
    background-color: transparent !important;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.inputField input:-webkit-autofill {
    background-color: transparent!important;
    box-shadow: 0 0 0px 1000px #f0f0f0 inset;
    border-radius: 55px;
}

.inputField input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    background-color: var(--background-color-btn);
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover {
    background-color: var(--background-color-btn-hover);
    cursor: pointer;
}

.socialText{
    margin-bottom: 10px;
    font-size: 1rem;
}

.socialMediaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.googleButton {
    .buttonGoogle {
        width: 248px;
        height: 52px;
        background-color: var(--background-color-btn);
        border: none;
        border-radius: 5px;
        color: var(--color-secondary);
        padding: 15px 20px 25px 70px;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        /* line-height: 22px; */
        position: relative;
        outline-style: none;
        transition: background 300ms ease-in-out;

        .iconoGoogles {
            content: "";
            border-radius: 5px;
            position: absolute;
            left: 2px;
            top: 2px;
            display: inline-block;
        }
    }
}

.buttonGoogle:hover{
    background-color: var(--background-color-btn-hover);
}

/* --Fin Sign in-- */



/* --Inicio Sign up-- */


.formContainer2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 450px;
    left: 0;
}

.formContainer2 form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socialMediaContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.googleButton2 {
    .buttonGoogle2 {
        width: 248px;
        height: 52px;
        background-color: var(--background-color-btn);
        border: none;
        border-radius: 5px;
        color: var(--color-secondary);
        padding: 15px 20px 25px 70px;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        /* line-height: 22px; */
        position: relative;
        outline-style: none;
        transition: background 300ms ease-in-out;

        .iconoGoogles2 {
            content: "";
            border-radius: 5px;
            position: absolute;
            left: 2px;
            top: 2px;
            display: inline-block;
        }
    }
}

.buttonGoogle2:hover{
    background-color: var(--background-color-btn-hover);
}
/* --Fin Sign up-- */